* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content input {
    width: 22vw;
    margin-bottom: 20px;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    font-size: 1rem;
}

.content button {
    margin-bottom: 10px;
    width: 11vw;
    height: 50px;
    font-size: 1rem;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.content button:hover {
    background-color: rgb(92, 26, 153);
}

.content h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 20px;
}

.content #resultado {
    width: 22vw;
    height: 50px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .content {
        text-align: center;
    }

    .content h1 {
        font-size: 1rem;
        margin: 0 5px 10px 5px;
    }

    .content button {
        width: 35vw;
        font-size: .8rem;
    }

    .content p {
        font-size: .8rem;
        margin: 0 5px 20px 5px;
    }

    .content input, .content #resultado {
        width: 70vw;
        font-size: .8rem;
    }
}